
nav.navbar.fixed-top.navbar-toggleable-md.md.navbar-inverse.bg-inverse
  .container
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#nav-content',
        aria-controls='nav-content', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon

    h1.navbar-brand.mb-0(href='#') WS Mini-Server

    #nav-content.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Link
        li.nav-item
          a.nav-link.disabled(href='#') Disabled

      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type='text', placeholder='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
