extends _layout

block content
  .row.pb-4
    h1.display-4 WebSocket Mini-Server

    p.lead A mini-server written in Node.js to generate test notifications for the front-end.

  include partials/note-form
